html 
body,

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  background:#7e8381;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#root {
  margin: 0;
  padding: 0;]
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  background: #7e8381;
}

#root > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7e8381;
}

.c {
  position: absolute;
  margin-left:-20rem;
  margin-top: -7rem;
  max-width: 200px;
  max-height: 250px;
  box-shadow: inset 0 0 10px #000000;
  border-radius: 5px;
  width: 50ch;
  height: 50ch;
  cursor: pointer;
  will-change: transform, opacity;
}

.flip {
  position: absolute;
  margin-left:-9rem;
  margin-top: 7rem;
  cursor: pointer;
  
}


.front,
.back {
  background-size: cover;
}

.back {
  background-image: url("./profile.jpg");
}

.front {
  background-image: url("./mug.jpg");
}


.simple-trans-main > div {
  cursor: pointer;
  position: absolute;
  margin-left: -7.5rem;
  margin-bottom: 40rem;
  margin-top:-5rem;
  width: 30rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
  font-size: 1em;
  will-change: transform, opacity;
  text-shadow: 0px 4px 40px #00000020, 0px 2px 5px #00000030;
  background: #7e8381;
  z-index: 2
}

.trails-main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trails-text {
  position: relative;
  width: 30rem;
  height: 5rem;
  margin-bottom: 3.5rem;
  margin-left: 1rem;
  line-height: 55px;
  color: palevioletred;
  font-size: 5em;
  font-weight: 700;
  text-transform: uppercase;
  will-change: transform, opacity;
  overflow: hidden;
}

.trails-text > div {
  overflow: hidden;
}

.guesscard {
  position: absolute;
  margin-left:17.5rem;
  margin-top: 1rem;
  max-width: 200px;
  max-height: 250px;
  border-radius: 5px;
  width: 50ch;
  height: 50ch;
  cursor: pointer;
  background-image: url("./qmark.jpg");
}

.guesscard2 {
  position: absolute;
  margin-left:2rem;
  margin-top: 1rem;
  max-width: 200px;
  max-height: 250px;
  border-radius: 5px;
  width: 50ch;
  height: 50ch;
  cursor: pointer;
  background-image: url("./qmark2.jpg");
}

.clue {
  position: absolute;
  margin-left:21.7rem;
  margin-top: 18rem;
  max-width: 200px;
  max-height: 250px;
  width: 50ch;
  height: 50ch;
  cursor: pointer;
}

.clueabout {
  position: absolute;
  margin-left:20rem;
  margin-top: 18rem;
  max-width: 200px;
  max-height: 250px;
  width: 50ch;
  height: 50ch;
  cursor: pointer;
}



.highlight {
  position: absolute;
  font-weight: bold;
  font-size: 2rem;
  margin-left:-15.5rem;
  margin-top: -5rem;
  max-width: 300px;
  max-height: 250px;
  width: 150ch;
  height: 150ch;
  cursor: pointer;
  z-index: 1
}

.guess {
  position: absolute;
  font-weight: bold;
  font-size: 10rem;
  margin-left: 0.3rem;
  margin-top: 2.2rem;
  max-width: 200px;
  max-height: 250px;
  width: 150ch;
  height: 150ch;
  color:#ffff;
  cursor: pointer;
}

.guess2 {
  position: absolute;
  font-weight: bold;
  font-size: 10rem;
  margin-left: 0.3rem;
  margin-top: 2.2rem;
  max-width: 200px;
  max-height: 250px;
  width: 150ch;
  height: 150ch;
  color:#ffff;
  cursor: pointer;
}


.grid-form{
  position: absolute;
  margin-top: 0.5em;
  display: grid;
  width:30em;
  margin-left: 20em;
  z-index: 2
}


.contact {
  margin-top: 1em;
  padding: 0.5em;
  width: 10em;
  border-radius: 8px;
  border-style: none;
  border: 1px solid #e4e6e8;
  transition: width 0.4s ease-in-out;
}

.contact:focus {
  width: 30em;
}

.contact:hover {
  border-color: palevioletred;
}

.contactcontent {
  margin-top: 1em;
  padding: 0.5em;
  width: 20em;
  border-radius: 8px;
  border-style: none;
  border: 1px solid #e4e6e8;
  transition: 0.1s ease;
}

.contactcontent:focus {
  width: 35em;
}


.contactcontent:hover {
  border-color: palevioletred;
}

.contactbutton {
  margin-top: 1em;
  padding: 0.5em;
  width: 10em;
  border: 1px solid #e4e6e8;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease-in;
}

.contactbutton:hover {
  background-color: palevioletred;
  color: white;
}

.chat {
  position: absolute;
  margin-left:30.7rem;
  margin-top: 10rem;
  cursor: pointer;
  z-index: 5
}


.follow {
  position: absolute;
  margin-top: -7rem;
  margin-left: 35rem;
  z-index: 2;
  font-weight: bold;
  font-size: 1rem;
  max-width: 430px;
  max-height: 250px;
  width: 150ch;
  height: 150ch;
  border: 2px solid palevioletred;
  color:#ffff; 
  cursor: pointer;
}

.social-container{
  background: transparent;
  z-index: 4
}
.social-container a{
  margin: 0 1rem;
  display: inline-block;
  background: transparent;

}

.social-icons{
  color: white;
  width: 5%;
}

.social-icons a{
  margin: 0 1rem;
  transition:transform 250ms;
  display: inline-block;
}

.social-icons:hover {
  transform: translateY(-2px);
  color: palevioletred;
}
